<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <%- include('link.ejs') %>
    <%- include('navbar.ejs') %>
    <form method="post" action="/user/signup">
      <div class="mb-3 mt-4" >
        <label for="fullName" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          name="fullName"
          id="fullName"
          aria-describedby="emailHelp"
        />
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          aria-describedby="email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%- include('scripts.ejs') %>
  </body>
</html>
